# Environment & secrets
.env
*.env

# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python

# Virtual environments
.venv/
venv/
env/
Pipfile.lock

# Logs
logs/

# Test artifacts
.pytest_cache/
**/.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# Docker files (no recursion needed)
docker/

# Git
.git/
.gitignore

# Scripts y contexto de desarrollo
scripts/
context/
sql/
